 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Control Management</title>
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    
    <div class="header">
        <div class="comp_name">
            <h1 id="head_name">INVENTORY CONTROL MANAGEMENT</h1>
        </div>
    </div>

    <div class="main">
    <div class="side">
        <div class="sidenav">
            <ul>
                <li><img src="/public/images/dashboard.png" alt="dashboard"><a href="#"><p>Dashboard</p></a> </li>
                <li><img src="/public/images/reports.png" alt="reports"><a href="/products.html"><p>Products</p> </a></li>
                <li><img src="/public/images/rewards.png" alt="rewards"><a href=""><p>Categories</p></a></li>
                <li><img src="/public/images/messages.png" alt="messages"> <a href=""><p>Invoice</p></a></li>
                <li><img src="/public/images/video-chat.png" alt="video-chat"><a href=""><p>Order details</p></a> </li>
                <li><img src="/public/images/projects.png" alt="projects"><a href=""><p>Supplier</p></a>  </li>
                <li><img src="/public/images/members.png" alt="members"><a href=""><p>Users</p></a> </li>
                <li><img src="/public/images/setting.png" alt="setting"><a href=""><p>setting</p></a> </li>
            </ul>
    
            <ul>
                <li><img src="images/logout.png" alt=""><p>logout</p></li>
            </ul>
        </div>    
    </div>
    
        <div class="tabs">
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'London')">DATA</button>
                <button class="tablinks" onclick="openCity(event, 'Paris')">VALUES</button>
                <button class="tablinks" onclick="openCity(event, 'Tokyo')">OPERATIONS</button>
            </div>
            <div class="container">
              <h1>Product Table</h1>
              <div id ="hello">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Category</th>
                      <!-- Add more table headers as needed -->
                    </tr>
                  </thead>
                  <tbody>
                    
                  </tbody>
                </table>
              </div>
            </div>
        </div>

</body>
</html>

