<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Control Management</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>       
    <div class="header">
        <div class="comp_name">
            <h1 id="head_name">INVENTORY CONTROL MANAGEMENT</h1>
        </div>
    </div>

    <div class="main">
    <div class="side">
        <div class="sidenav">
          <ul>
            <li><img src="images/reports.png" alt="reports"><a href="/"><p>Products</p> </a></li>
            <li><img src="images/rewards.png" alt="rewards"><a href="/data"><p>Categories</p></a></li>
            <li><img src="images/messages.png" alt="messages"> <a href="/invoice"><p>Invoice</p></a></li>
            <li><img src="images/video-chat.png" alt="video-chat"><a href="/order"><p>Order details</p></a> </li>
            <li><img src="images/projects.png" alt="projects"><a href="/supplier"><p>Supplier</p></a>  </li>
            <li><img src="images/members.png" alt="members"><a href="/user"><p>Users</p></a> </li>
            <li><img src="images/reports.png" alt="members"><a href="/rp"><p>Returned Products</p></a> </li>
          </ul>
            <!-- <ul>
                <li><img src="images/logout.png" alt=""><p>logout</p></li>
            </ul> -->
        </div>    
    </div>
    
        <div class="tabs">
            
              <h1>Category </h1>
              <div id ="hello">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Category ID</th>
                      <th>Category</th>
                      <!-- Add more table headers as needed -->
                    </tr>
                  </thead>
                  <tbody>
                    <% results.forEach((category) => { %>
                      <tr>
                        <td><%= category.categoryId %></td>
                        <td><%= category.category %></td>
                      </tr>
                    <% })%>
                  </tbody>
                </table>
              </div>
        </div>

</body>
</html>

