<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Control Management</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>

    <!---------------------------- header  ------------------------------->
    
    <div class="header">
      <div class="left">
        Your Inventory
      </div>
      <div class="right">
        <select id="queryDropdown" onchange="fetchQueryResult()">
          <option value="" disabled selected>Select a Query</option>
          <option value="lowStock">Retrieve all products with low stock</option>
          <option value="totalValue">Retrieve the total value of inventory</option>
          <option value="userOrders">Retrieve all orders placed by a specific user</option>
          <option value="totalRevenueDateRange">Retrieve the total revenue within a date range</option>
          <option value="topSuppliers">Retrieve the supplier with the highest number of invoices</option>
          <option value="categoryProducts">Retrieve products by category</option>
          <option value="topSuppliers4">Retrieve the top 4 suppliers by invoices</option>
          <option value="userOrdersCount">Retrieve total orders by user</option>
          <option value="salesAndRevenue">Retrieve the total sales and revenue for each product</option>
          <option value="neverOrdered">Retrieve products that have never been ordered</option>
          <option value="topSelling">Retrieve the top-selling products within a date range</option>
          <option value="monthlyRevenue">Retrieve monthly revenue and order count</option>
        </select>
      </div>
    </div>

    <!----------------------------- navigation  --------------------------->

    <div class="sidebar">
        <ul>
          <li><a href="/"><p>Products</p></a></li>
          <li><a href="/category"><p>Categories</p></a></li>
          <li><a href="/invoice"><p>Invoice</p></a></li>
          <li><a href="/order"><p>Order details</p></a> </li>
          <li><a href="/supplier"><p>Supplier</p></a>  </li>
          <li><a href="/user"><p>Users</p></a> </li>
          <li><a href="/rp"><p>Returned Products</p></a> </li>
        </ul>
    </div>
  
    <!------------------------------ table  ----------------------------------->
    
       <div class="tabs"> 
          <h1>My Customers</h1>
            <div id ="hello">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>User ID</th>
                    <th>UserName </th>
                    <th>Phone Number</th>
                    <th>location</th>
                  </tr>
                </thead>
                <tbody>
                  <% results.forEach((user) => { %>
                    <tr>
                      <td><%= user.userid %></td>
                      <td><%= user.name %></td>
                      <td><%= user.phone_no %></td>
                      <td><%= user.location %></td>
                    </tr>
                  <% })%>
                </tbody>
              </table>
            </div>
        </div>

    <script>
      function fetchQueryResult() {
        const queryType = document.getElementById('queryDropdown').value;
        if (queryType) {
          window.location.href = `/queries/${queryType}`;
        }
      }
    </script>

</body>
</html>

