@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Staatliches&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*---------------------variables------------------*/

:root{
    --text-color:  #ffffffed;
    --bg_color:#070f2b;
}

/*--------------------body----------------------*/

body{
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    background-color: var(--bg_color);
}

/*--------------------header----------------------*/

.header{
    display: flex;
    height: 20vh;
    width: 100%;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    font-family: "Staatliches", sans-serif;
}


/*------------------------- sidenav  ---------------------*/

.sidenav{
    width: 100%;
    height: 10vh;
    
}

.sidenav ul{
    display: flex;
    font-size: 1.25rem;
    justify-content: space-around;  
}

.sidenav ul li{
    display: flex;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}

.sidenav ul li a{
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

/*-------------------- table ---------------------*/

.container{
    width: 100%;
    margin-bottom: 2rem;
    background-color: var(--bg_color);
}

.container .tabs .header{
    font-size: 2.5rem;

}

.tabs{
    width: 100%;
    text-align: center;
    height: fit-content;
    background-color: var(--bg_color);
    padding: 1.5rem;
    color: var(--text-color);
    font-size: 1.25rem;
}

.table{
    border: 2px solid white;
    width: 100%;
    border-collapse: collapse; 
}

table, th, td{
    border: 2px solid white;
}

td{
    padding: 2px 0;
}

h1{
    margin-bottom: 1rem;
}

.new{
    margin: 1em 0 1em 0;
    font-size: 2rem;
    text-align: center;  
}

.new a{
    text-decoration: none;
    color: var(--text-color);
}