@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Staatliches&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*---------------------variables------------------*/

:root{
    --text-color:  #ffffffed;
    --bg_color:#070f2b;
}

/*--------------------body----------------------*/

body{
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    background-color: var(--bg_color);
}

/*--------------------header----------------------*/

.header{
    display: flex;
    height: 20vh;
    width: 100%;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    font-family: "Staatliches", sans-serif;
}

.left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right select{
    font-size: 1.2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
}

.right select option{
    color: #070f2b;
}
/*------------------------- sidebar  ---------------------*/

.sidebar{
    width: 100%;
    height: 10vh;
    background-color: #1b1c27;
    display: flex;
    align-items: center;
}

.sidebar ul{
    display: flex;
    font-size: 1.25rem;
    width: 100%;
    justify-content: space-around;
}

.sidebar ul li{
    display: flex;
    margin-right: 5px;
    justify-content: center;
}

.sidebar ul li a{
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

.sidebar ul li a p:hover{
    color: #ffff00;
}

.sidebar ul li a p:active{
    color: #ffff00;
}

/*-------------------- commands ---------------------*/

.command{
    margin: 40px;
    font-size: 1.5rem;
}

.command ul{
    margin-left: 20px;
    font-size: 1.25rem;
}

.command a{
    text-decoration: none;
    color: var(--text-color);
}

.command a:hover{
    color: #ffff00;
}

/*-------------------- table ---------------------*/

.tabs{
    width: 100%;
    text-align: center;
    height: fit-content;
    padding: 1.5rem;
    color: #333;
    font-size: 1.1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

thead {
    background-color: #007bff;
    color: #fff;
}

th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

tbody tr:nth-child(even) {
    background-color: #f4f4f9;
}

tbody tr:hover {
    background-color: #e9ecef;
}

tbody td {
    border-bottom: 1px solid #ddd;
}

tbody td:last-child {
    border-bottom: 0;
}

h1{
    margin-bottom: 1rem;
    color: var(--text-color);
}
